.landing {
	display: flex;
	justify-content: space-between;
	align-items: center;
	column-gap: 35px;
	height: calc(100vh - 93px);
	margin-top: 92.5px;
}

.info {
	max-width: 55%;

	.heading {
		font-family: var(--rb-font);
		font-size: 2em;
		line-height: 1.05;
		font-weight: 600;
		margin-bottom: 8px;

		em {
			font-style: normal;
			color: var(--blue);
			font-weight: inherit;

			&:last-child {
				color: var(--red);
			}
		}
	}

	.description {
		font-size: 1.22em;
		margin-bottom: 25px;
		line-height: 0.95;
	}

	.buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 10px;

		span {
			opacity: 0.6;
		}
	}
}

.lock-3d {
	width: 50%;
	height: 75%;
}

// Small laptop
@media (max-width: 1024px) {
	.heading {
		font-size: 1.8em !important;
	}

	.description {
		font-size: 1em !important;
	}

	.info {
		max-width: 65%;
	}
}

@media (max-width: 900px) {
	.info {
		max-width: 70%;
	}

	.lock-3d {
		max-width: 35% !important;
		max-height: 75% !important;
	}
}

// Tablet
@media (max-width: 768px) {
	.landing {
		flex-direction: column-reverse;
		gap: 0;
		padding: 20px 0;

		.heading {
			text-align: center;
			line-height: 0.95;
		}

		.lock-3d {
			width: 100% !important;
			height: 55% !important;
		}

		.info {
			max-width: 80%;

			.description {
				text-align: center;
			}
		}
	}
}

@media (max-width: 600px) {
	.landing {
		.heading {
			font-size: 1.6em !important;
		}

		.info {
			max-width: 100%;
		}
	}
}

// Large mobile
@media (max-width: 425px) {
	.description {
		margin-bottom: 15px !important;
	}
}

// Average mobile
@media (max-width: 375px) {
	.heading {
		text-wrap: nowrap;
	}
}

// Small mobile
@media (max-width: 320px) {
}
