/* - Preparing for styling - */

/* Variables */
:root {
	--dark: #181818;
	--light: #eaebed;
	--add: #2d2d2d;
	--red: #c10001;
	--blue: #1c3f6d;

	--main: var(--dark);
	--text: var(--light);
	--accent: var(--red);
}

/* Reset base styles */
@import "./reset";

/* - My base styles - */

html {
	scroll-behavior: smooth;
	font-size: 18px;
}

body {
	background-color: var(--main);
	color: var(--text);
	font-family: var(--nu-font);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.wrapper {
	max-width: 1140px;
	height: auto;
	margin: 0 auto;
}

.main {
	padding: 0 25px;
	width: 100%;
	min-height: calc(100vh - 92px - 263px);
	overflow-x: hidden;

	hr {
		border: none;
		width: 100%;
		border-bottom: 1px solid var(--add);
	}

	.heading {
		font-family: var(--rb-font);
		font-size: 1.8em;
		color: var(--accent);
		font-weight: bold;
	}
}

// Small laptop
@media (max-width: 1024px) {
	.heading {
		font-size: 1.6em !important;
	}
}

// Large mobile
@media (max-width: 425px) {
	.heading {
		font-size: 1.5em !important;
	}
}
