/* - Preparing for styling - */

/* Variables */
:root {
	--dark: #181818;
	--light: #eaebed;
	--add: #2d2d2d;
	--red: #c10001;
	--blue: #1c3f6d;

	--main: var(--dark);
	--text: var(--light);
	--accent: var(--red);
}

/* Reset base styles */
@import "./reset";

/* - My base styles - */

html {
	scroll-behavior: smooth;
	font-size: 18px;
}

body {
	background-color: var(--main);
	color: var(--text);
	font-family: var(--nu-font);
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.wrapper {
	max-width: 1140px;
	height: auto;
	margin: 0 auto;
}

.main {
	padding: 0 25px;

	hr {
		border: none;
		width: 100%;
		border-bottom: 1px solid var(--add);
	}
}
