.wrapper {
	height: calc(100vh - 263px - 92px);
	margin-top: 92.5px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	row-gap: 35px;
}

.heading {
	font-family: var(--rb-font);
	font-size: 2.2em;

	span {
		color: var(--accent);
		animation: shadows 3.5s infinite;
	}
}

@keyframes shadows {
	0% {
		text-shadow: none;
	}

	50% {
		text-shadow: 0 0 10px var(--accent);
	}

	100% {
		text-shadow: none;
	}
}

// Laptop
@media (max-width: 1140px) {
}

// Small laptop
@media (max-width: 1024px) {
}

// Tablet
@media (max-width: 768px) {
}

// Large mobile
@media (max-width: 425px) {
	.heading {
		font-size: 1.8em;
	}
}

// Average mobile
@media (max-width: 375px) {
}

// Small mobile
@media (max-width: 320px) {
}
